@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #ffffff;
  font-family: 'Poppins', sans-serif;
}

main {
  padding: 10vh;
}

.link:hover span:last-child {
  width: 100%;
}

.highlight {
  margin: 0;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-color: #6366f1;
  text-decoration-thickness: 20px;
  text-decoration-skip-ink: none;
  text-underline-offset: -15px;
}

.property-card {
  width: 300px; /* Adjust as needed */
  margin: 0 auto;
}

.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  width: 100%;
  height: auto;
}

.object-cover {
  object-fit: cover;
}

.carousel-container {
  position: relative;
  width: 100%;
  height: 200px; /* Adjust the height as needed */
}

.carousel-wrapper {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.carousel-item {
  flex-shrink: 0;
  width: 100%;
}
